/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
}

.project {
    margin-bottom: 20px;
}

.project a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}

#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#backToTopBtn:hover {
    background-color: #555;
}
